<header>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Employee Review System</a>
      <% if(locals.user) { %>
      <a class="navbar-brand" href="/">Hello <%=locals.user.name%></a>
      <%}%>

      <form class="d-flex">
        <% if(locals.user && locals.user.isAdmin) { %>
        <a class="navbar-brand" href="/admin/assigntask">Assign Task</a>
        <a class="navbar-brand" href="/admin/employeerecords">Employees</a>
        <a class="navbar-brand" href="/review/reviewdata">Reviews</a>
        <a class="navbar-brand" href="/users/SignOut">Signout</a>
        <%} else { %>
        <a class="navbar-brand" href="/users/SignOut">Logout</a>
        <% } %>
      </form>
    </div>
  </nav>
</header>
